In [4]:
print('Hello, Word!')

Hello, Word!

In [7]:
#Variaveis em Python, almacenar valores.

x=5

In [8]:
print(x)

5

In [10]:
#Tipo inteiros, função type

print(type(x))

<class 'int'>

In [11]:
preco = 19.90

print(type(preco))

<class 'float'>

In [13]:
cidade= 'Manaus - AM'

print(type(cidade))

<class 'str'>

In [16]:
disponivel = True

print(type(disponivel))

<class 'bool'>

**Variáveis**

Variáveis são pedacinhos de memória onde armazenamos valores. Sempre que referenciamos o nome de uma variável, o valor é acessado. Definimos uma variável dando um nome a ela e usando o sinal de igual (=) para atribuir um valor.

In [15]:
x = -10 # uma variável do tipo inteiro (int)
y = 3.14 # uma variável do tipo real (float)
escola = "Let's Code" # uma variável literal (string)
primeiraAula = True # uma variável lógica (booleana)

Note que o operador igual (=) NÃO possui o mesmo comportamento da matemática. Na matemática, ele é um operador bidirecional: x = 2y seria a mesma coisa que 2y = x. No Python, ele é o que chamamos de um operador de ATRIBUIÇÃO: A expressão à direita do sinal é resolvida e seu resultado é armazenado na variável à esquerda.

In [18]:
# Linhas iniciadas com # são comentários.
# Comentários são ignorados pelo Python e servem para explicar o código.

'''
O símbolo # é um comentário de apenas 1 linha.
Usando 3 aspas simples consecutivas é possível abrir um bloco de comentário
de múltiplas linhas. O bloco se encerra com outras 3 aspas simples.
'''

'\nO símbolo # é um comentário de apenas 1 linha.\nUsando 3 aspas simples consecutivas é possível abrir um bloco de comentário\nde múltiplas linhas. O bloco se encerra com outras 3 aspas simples.\n'

**Operadores aritméticos**

In [20]:
# Podemos fazer operações aritméticas simples
a = 2 + 3  # Soma
b = 2 - 3  # Subtração
c = 2 * 3  # Multiplicação
d = 2 / 3  # Divisão
e = 2 // 3 # Divisão inteira
f = 2 ** 3 # Potência
g = 2 % 3  # Resto de divisão

print (a, b, c, d, e, f, g)

# Podemos fazer operações dentro do print

print (a+1, b+1)

#Podemos fazer operações com variáveis não inteiras
nome = input('Digite seu primeiro nome:')
nome = nome + ' Lara Serrano'
print(nome)

5 -1 6 0.6666666666666666 0 8 2
6 0
Digite seu primeiro nome:Maoly
Maoly Lara Serrano

**Operadores relacionais**

Observe o código abaixo:

In [21]:
comparacao1 = 5 > 3
print(comparacao1)
comparacao2 = 5 < 3
print(comparacao2)

True
False

Ao ser executado, a saída que teremos na tela será:

**True**
**False**

Isso ocorre porque 5 é maior que 3. Portanto, comparacao1 recebeu uma expressão cujo valor lógico é verdadeiro, portanto seu resultado foi True, e o oposto ocorreu para comparacao2.

O Python possui 6 operadores relacionais:

Maior que: >
Maior ou igual: >=
Menor que: <
Menor ou igual: <=
Igual: ==
Diferente: !=
Note que o operador para comparar se 2 valores são iguais é ==, e não =. Isso ocorre porque o operador = é o nosso operador de atribuição: ele diz que a variável à sua esquerda deve receber o valor da expressão à direita. O operador == irá testar se o valor à sua esquerda é igual ao valor à sua direita e irá responder True ou False, como todos os outros operadores de comparação.

**Operadores lógicos**
Em alguns casos também precisamos testar se duas ou mais condições são verdadeiras. Para isso utilizaremos as conjunções lógicas:

**and: verdadeiro se condição 1 for verdadeira e condição 2 for verdadeira
or: verdadeiro se condição 1 for verdadeira ou condição 2 for verdadeira
No exemplo abaixo, o resultado é verdadeiro para comparacao1 e falso para comparacao2.**

comparacao1 = 5 > 3 and 6 > 3
comparacao2 = 5 < 3 and 6 > 3
Já no exemplo seguinte, tanto comparacao1 quanto comparacao2 retornam o valor verdadeiro.

comparacao1 = 5 > 3 or 6 > 3
comparacao2 = 5 < 3 or 6 > 3
Também é possível negar uma expressão lógica usando o not. Em outras palavras, se comparacao1 = 5 > 3 é verdadeira, comparacao1 = not(5 > 3) será falsa, e vice-versa.

In [22]:
comparacao1 = 5 > 3 and 6 > 3
comparacao2 = 5 < 3 and 6 > 3

In [24]:
print(comparacao1 , comparacao2)

True True

In [23]:
comparacao1 = 5 > 3 or 6 > 3
comparacao2 = 5 < 3 or 6 > 3

In [25]:
print(comparacao1 , comparacao2)

True True

In [26]:
#operações básicas 

x= 50
y= 2

In [27]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)

52
48
100
25.0

In [31]:
print(x ** y) #Exponeção
print(x // y) #Divisão inteira
print(x % y) #Divisão "Pega o Resto"

2500
25
0

In [32]:
# Outro exemplos

print(3 // 4)

0

In [33]:
#operadores lógicos

tem_cafe = True
tem_pao = False

In [36]:
print(not tem_cafe)
print(tem_cafe or tem_pao)
print(tem_cafe and tem_pao)

False
True
False

In [37]:
#operadores relacionais ou comparação 

dolar = 5.1
real = 1

In [38]:
print(dolar > real) #maior
print(dolar < real) #menor
print(dolar == real) #Igual
print(dolar >= real) #maior o igual
print(dolar <= real) #menor o igual
print(dolar != real) #diferente

True
False
False
True
False
True

**Estruturas Sequenciais**

**Outputs**

Chamamos de saídas ou outputs do nosso programa todos os dados que são gerados pelo programa e fornecidos para o usuário.

Já conhecemos a função print() que recebe um valor ou uma sequência de valores e realiza a tarefa de imprimí-los na tela.

In [39]:
y = 3.14 # uma variável do tipo real (float)
escola = "Let's Code" # uma variável literal (string)

# Podemos exibir textos na tela e/ou valores de variáveis com a função print().
print('eu estudo na ', escola)
print('pi vale', y)

# Podemos fazer operações dentro do print:
print (y+1, y**2)

eu estudo na  Let's Code
pi vale 3.14
4.140000000000001 9.8596

**Inputs**

Já as entradas ou inputs do nosso programa são as informações que o usuário possui e deve fornecer ao código.

In [40]:
# Podemos ler valores do teclado com a função input().
# Ela permite que a gente passe uma mensagem para o usuário.
nome = input('Digite o seu nome: ')

# Tudo que é lido por input() é considerado uma string (str).
# Para tratar como outros tipos de dados é necessário realizar a conversão:
peso = float(input('Digite o seu peso: ')) # lê o peso como número real
idade = int(input('Digite a sua idade: ')) # lê a idade como número inteiro

print(nome, 'pesa', peso, 'kg e tem', idade, 'anos de idade.')

Digite o seu nome: Maoly
Digite o seu peso: 100
Digite a sua idade: 38
Maoly  pesa 100.0 kg e tem 38 anos de idade.

In [41]:
idade = input('Informe a sua idade: ')
print(idade, type(idade))

Informe a sua idade: 38
38 <class 'str'>

In [42]:
idade = int(idade)
print(idade, type(idade))

38 <class 'int'>

In [43]:
print(float('125.25'))
print(str(125.25))
print(bool(''))
print(bool('amor'))
print(bool(0))
print(bool(-5))

125.25
125.25
False
True
False
True

In [45]:
#Algoritmo
# Estruturas Sequenciais

salario_mensual = input('Digite o valor de seu salario mensual: ')
salario_mensual = float(salario_mensual)

gasto_mensual = input('Digite o valor de seu gasto mensual em meia: ')
gasto_mensual = float(gasto_mensual)

salario_total = salario_mensual * 12
gasto_total = gasto_mensual * 12

montante_economizado = salario_total - gasto_total
print("O montate que você pode economizar ao final do ano é: ", montante_economizado)

Digite o valor de seu salario mensual: 2400
Digite o valor de seu gasto mensual em meia: 2000
O montate que você pode economizar ao final do ano é:  4800.0

**Estruturas Sequenciais**

**If**

O if testa uma condição:

se ela for verdadeira, seu conteúdo é executado;
caso contrário, seu conteúdo é ignorado.

In [46]:
# Capturando e tratando a quantidade de pessoas.
while True:
    try:
        n = int(input('Desejas inserir a idade de quantas pessoas? '))
        if n <= 0:
            print('\033[31mValor INVÁLIDO! Digite apenas números inteiros maiores que "0"!\033[m')
        else:
            break
    except:
        print('\033[31mValor INVÁLIDO! Digite apenas números inteiros!\033[m')

cont = cont1 = cont2 = cont3 = cont4 = cont5 = 0
for c in range(1, n + 1):
    # Capturando e tratando a idade de cada pessoa.
    while True:
        try:
            idade = int(input(f'Digite a idade da {c}ª pessoa: '))
            if idade < 0:
                print('\033[31mValor INVÁLIDO! Digite apenas inteiros maiores ou iguais a "0"!\033[m')
            else:
                break
        except:
            print('\033[31mValor INVÁLIDO! Digite apenas inteiros maiores ou iguais a "0"!\033[m')

    # Somando as idades por faixa etária.
    if 0 <= idade < 18:
        cont1 += 1
    elif 18 <= idade < 66:
        cont2 += 1
    elif 66 <= idade < 80:
        cont3 += 1
    elif 80 <= idade < 100:
        cont4 += 1
    elif idade >= 100:
        cont5 += 1

# Exibindo os resultados:
print(f'\033[32mMenor de Idade: {cont1}')
print(f'Jovem: {cont2}')
print(f'Meia Idade: {cont3}')
print(f'Idoso: {cont4}')
print(f'Idoso de Vida Longa: {cont5}')

altura = float(input('Digite sua altura, em metros:'))
if idade >= 12 and altura >= 1.60:
    print('Você pode entrar na montanha russa.')
print('Obrigado por participar.')

Digite sua idade:38
Você pode entrar na montanha russa.
Obrigado por participar.
Digite sua altura, em metros:1.65
Você pode entrar na montanha russa.
Obrigado por participar.

Utilizamos um 'tab' antes de cada linha pertencente ao if. No exemplo acima, a linha 'obrigado por participar' sempre será exibida. Já a linha 'Você pode entrar na montanha russa.' só será exibida se a idade digitada for maior ou igual a 12 e a altura digitada for maior ou igual a 1.60.

**Else**

Em alguns casos, queremos que o programa escolha entre 2 casos mutuamente exclusivos. Para isso utilizamos o else. O else não possui condição para verificar. O else sempre vem imediatamente após um if e é executado se o if for ignorado.

In [47]:
idade = int(input('Digite sua idade:'))
altura = float(input('Digite sua altura, em metros:'))
if idade >= 12 and altura >= 1.60:
    print('Você pode entrar na montanha russa.')
else:
    print('Você não pode entrar na montanha russa.')
print('Obrigado por participar.')

Digite sua idade:38
Digite sua altura, em metros:1.50
Você não pode entrar na montanha russa.
Obrigado por participar.

É possível "**aninhar**" diversos if's e else's. O programa abaixo só deixa a pessoa entrar no brinquedo se tiver idade e altura mínimas:

In [49]:
idade = int(input('Digite sua idade: '))
if idade >= 12:
    resposta = input('Você gostaria de entrar nesta montanha russa? ')
    if (resposta == 'sim'):
        print('Por favor, entre!')
    else:
        print('Ok então')
else:
    print('Você não tem idade suficiente para entrar nesse brinquedo.')

Digite sua idade:38
Você gostaria de entrar nesta montanha russa? sim
Por favor, entre!

**Elif**

Podemos testar diversos casos mutuamente exclusivos utilizando o '**elif**'.

O comando elif é a contração de "**else if**" - ou seja, caso um if não seja executado, você pode propor uma nova condição para ser testada.

In [50]:
exercicios = int(input('Quantos exercícios de Python vc já fez? '))

if exercicios > 30:
    print('Já está ficando profissional!')
elif exercicios > 20:
    print('Tá indo bem, bora fazer mais alguns!')
elif exercicios > 10:
    print('Vamos tirar o atraso?')
else:
    print('Xiiii...')

Quantos exercícios de Python vc já fez? 5
Xiiii...

Observe que a união das 3 estruturas (**if-elif-else**) implica que seu código seguirá apenas um dos possíveis caminhos, obrigatoriamente.

In [53]:
#Prática

valor_passagem = 3.80

valor_corrida = input('Qual é o valor da corrida? ')

if float(valor_corrida) <= valor_passagem * 5:
    print('Pague a Corrida')
if float(valor_corrida) > valor_passagem * 5:
    print('Pague o Ônibus')

Qual é o valor da corrida? 35
Pague o ônibus!

In [57]:
valor_passagem = 3.80

valor_corrida = input('Qual é o valor da corrida? ')

if float(valor_corrida) <= valor_passagem * 5:
    print('Pague a Corrida')
else:
    print('Pague o Ônibus')

Qual é o valor da corrida? 20
Pague o Ônibus

In [61]:
valor_passagem = 3.80

valor_corrida = input('Qual é o valor da corrida? ')

if float(valor_corrida) <= valor_passagem * 5:
    print('Pague a Corrida')
else: 
    if float(valor_corrida) <= valor_passagem * 6:
        print('Aguarde um pouco, vai baixar, tenha Fé!')    
    else:
        print('Pague o Ônibus')

Qual é o valor da corrida? 21
Aguarde um pouco, vai baixar, tenha Fé!

In [62]:
valor_passagem = 3.80

valor_corrida = input('Qual é o valor da corrida? ')

if float(valor_corrida) <= valor_passagem * 5:
    print('Pague a Corrida')
elif float(valor_corrida) <= valor_passagem * 6:
    print('Aguarde um pouco, vai baixar, tenha Fé!')    
else:
    print('Pague o Ônibus')

Qual é o valor da corrida? 20
Aguarde um pouco, vai baixar, tenha Fé!

**Estruturas de Repetição - While**

**While**

O **while** é bastante parecido com um 'if': ele possui uma expressão, e é executado caso ela seja verdadeira. Mas o if é executado apenas uma vez, e depois o código segue adiante.

O **while** não: ao final de sua execução, ele torna a testar a expressão, e caso ela seja verdadeira, ele repete sua execução.

In [65]:
horario = int(input('Qual horario é agora? '))

# Testando a condição uma única vez com o if:
if 0 < horario < 6:
    print('Você está no horario da madrugada')
else:
    print('Você nâo está no horario da madrugada')

Qual horario é agora? 22
Você nâo está no horario da madrugada

In [66]:
# Testando a condição em loop com o while:
while 0 < horario < 6:
    print('Você está no horario da madrugada')
    horario = horario + 1
else:
    print('Você não está no horario da madrugada')

Você não está no horario da madrugada

In [67]:
# O while permite continuar decrementando o número de pipocas até chegar em 0:
num_pipocas = int(input('Digite o numero de pipocas: '))

while num_pipocas > 0:
    print('O numero de pipocas é: ', num_pipocas)
    num_pipocas = num_pipocas - 1

Digite o numero de pipocas: 3
O numero de pipocas é:  3
O numero de pipocas é:  2
O numero de pipocas é:  1

**Validação de entrada**

Uma utilidade interessante do **while** é obrigar o usuário a digitar apenas entradas válidas.

In [68]:
# o exemplo abaixo não aceita um salário menor do que o mínimo atual:
salario = float(input('Digite seu salario: '))
while salario < 998.0:
    salario = float(input('Entre com um salario MAIOR DO QUE 998.0: '))
else:
    print('O salario que você entrou foi: ', salario)

Digite seu salario: 2400
O salario que você entrou foi:  2400.0

In [69]:
# o exemplo abaixo só sai do loop quando o usuário digitar "OK":
resposta = input('Digite OK: ')
while resposta != 'OK':
    resposta = input('Não foi isso que eu pedi, digite OK: ')

Digite OK: ok
Não foi isso que eu pedi, digite OK: OK

**Contador**

Todo tipo de código que deve se repetir várias vezes pode ser feito com o while, como somar vários valores, gerar uma sequência etc. Nestes casos, é normal utilizar um contador:

In [70]:
# Declaramos um contador como 0:
contador = 0
# Definimos o número de repetições:
numero = int(input('Digite um numero: '))
# Rodamos o while até o contador se igualar ao número de repetições:
while contador < numero:
    print(contador)
    contador = contador + 1

Digite um numero: 2
0
1

**Break**

Um jeito de forçar um loop a ser interrompido é utilizando o comando 'break'. O loop abaixo em tese seria infinito, mas se a condição do **if for** verificada, o **break** é executado e conseguimos escapar do loop:

In [71]:
while True:
    resposta = input('Digite OK: ')
    if resposta == 'OK':
        break

Digite OK: ok
Digite OK: OK

In [72]:
#Prática

contador = 0

while contador < 10:
    contador = contador + 1
    if contador == 1:
        print(contador, "Item Limpo! ")
    else:
        print(contador, "Items Limpos!")
    
print('Fim da repetição do bloque while!')

1 Item Limpo!
2 Items Limpos!
3 Items Limpos!
4 Items Limpos!
5 Items Limpos!
6 Items Limpos!
7 Items Limpos!
8 Items Limpos!
9 Items Limpos!
10 Items Limpos!
Fim da repetição do bloque while!

In [73]:
contador = 0

while True:
    if contador < 10:
        contador = contador + 1
        if contador == 1:
            print(contador, "Item Limpo! ")
        else:
            print(contador, "Items Limpos!")
    else:
        break
    
print('Fim da repetição do bloque while!')

1 Item Limpo!
2 Items Limpos!
3 Items Limpos!
4 Items Limpos!
5 Items Limpos!
6 Items Limpos!
7 Items Limpos!
8 Items Limpos!
9 Items Limpos!
10 Items Limpos!
Fim da repetição do bloque while!

In [74]:
#While. Com validação de entrada

texto= input('Digite a sua senha: ')

while texto != 'LetsCode':
    texto = input('Senha inválida. Tente novamente')
    
print('Acesso Permitido')

Digite a sua senha: lescode
Senha inválida. Tente novamenteLetscode
Senha inválida. Tente novamenteLetsCode
Acesso Permitido

In [75]:
#Continue
contador = 0

while contador < 10:
    contador = contador + 1
    if contador == 1 :
        continue
    print(contador, "Items Limpos!")
    
print('Fim da repetição do bloque while!')

2 Items Limpos!
3 Items Limpos!
4 Items Limpos!
5 Items Limpos!
6 Items Limpos!
7 Items Limpos!
8 Items Limpos!
9 Items Limpos!
10 Items Limpos!
Fim da repetição do bloque while!

In [83]:
contador = 0

while contador < 10:
    contador = contador + 1
    if contador == 1:
        continue
    print(contador, "Items Limpos!")
    
print('Fim da repetição do bloque while!')

2 Items Limpos!
3 Items Limpos!
4 Items Limpos!
5 Items Limpos!
6 Items Limpos!
7 Items Limpos!
8 Items Limpos!
9 Items Limpos!
10 Items Limpos!
Fim da repetição do bloque while!

**Listas e Tuplas**

**Listas**

Listas são coleções de objetos em Python. Ao invés de declarar 1 variável para cada valor que gostaríamos de armazenar, podemos criar uma lista para armazenar vários valores.

In [2]:
# Criando uma lista vazia.
listavazia = []

In [3]:
# Criando uma lista com alguns valores.
numeros = [1, 3, 7, 8, 9]

In [4]:
# Listas podem mesclar diferentes tipos de valores.
listamista = [14, "let's code", 0.1, True]

In [5]:
# Acessamos cada elemento da lista através de um índice entre colchetes.
# Os índices começam em 0.
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

1
3
7
8
9

In [6]:
# Listas são mutáveis: podemos alterar o valor de seus itens.
numeros[2] = 5
print(numeros)

[1, 3, 5, 8, 9]

In [7]:
# Um jeito inteligente de trabalhar com listas é utilizando loops.
indice = 0
while indice < 5:
    print(numeros[indice])
    indice = indice + 1

1
3
5
8
9

**Funções de listas**

Algumas funções podem nos ajudar a trabalhar com listas. Ao percorrermos nossa lista com um while, poderíamos usar len() caso não soubéssemos o comprimento da lista.

indice = 0
while indice < len(numeros):
    print(numeros[indice])
    indice = indice + 1

Outra função útil é lista.append(), que coloca um elemento novo ao final da lista.

In [11]:
animais = []
resposta = 's'
while resposta == 's' or resposta == 'S':
    resposta = input('Deseja adicionar um animal à lista (s/n)? ')
    if (resposta == 's' or resposta == 'S'):
        animal = input('Digite o nome do animal: ')
        animais.append(animal) # adiciona o novo animal à lista
print(animais)

Deseja adicionar um animal à lista (s/n)? s
Digite o nome do animal: gato
Deseja adicionar um animal à lista (s/n)? n
['gato']

A função lista.remove() deleta um elemento da lista. (mas dá erro se o elemento não existir).

In [13]:
animal = input('Digite o animal a ser deletado da lista: ')
animais.remove(animal)
print(animais)

Digite o animal a ser deletado da lista: gato
[]

Algumas outras funções úteis:

- lista.count() conta quantas vezes um elemento aparece.

In [14]:
jogadores = ['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
ronaldos = jogadores.count('Ronaldo')
print(jogadores)
print('Quantidade de Ronaldos: ', ronaldos)

['Ronaldo', 'Rivaldo', 'Ronaldo', 'Adriano']
Quantidade de Ronaldos:  2

- lista.index() busca em um elemento e fala em qual posição ele aparece.

In [15]:
rivaldo = jogadores.index('Rivaldo')
print("Rivaldo está na posição ", rivaldo)

Rivaldo está na posição  1

- lista.sort() ordena uma lista.

In [16]:
jogadores.sort()
print("jogadores em ordem alfabética: ", jogadores)

jogadores em ordem alfabética:  ['Adriano', 'Rivaldo', 'Ronaldo', 'Ronaldo']

- As funções max(lista) e min(lista) obtém, respectivamente, o maior e o menor valor.

In [17]:
digitos = [3, 1, 4, 1, 5, 9, 2, 6, 5]
maior = max(digitos)
menor = min(digitos)
print(digitos)
print("Maior = ", maior, "e menor = ", menor)

[3, 1, 4, 1, 5, 9, 2, 6, 5]
Maior =  9 e menor =  1

**Tuplas**

In [19]:
# Uma tupla é uma coleção de objetos que lembra muito as listas.

# Ao invés de colchetes, usamos parênteses para declarar as tuplas:
numeros = (1,2,3,5,7,11)

In [20]:
# Podemos declarar sem parênteses também:
numeros = 1,2,3,5,7,11

In [21]:
# Para acessar um valor, utilizamos a mesma sintaxe das listas:
print(numeros[4])
print(type(numeros))

7
<class 'tuple'>

In [22]:
'''
Porém, tuplas são imutáveis: não é possível adicionar ou modificar valores.
Descomentar a linha abaixo provocará erro de execução:
'''
# numeros[4] = 8

# Podemos gerar uma tupla a partir de uma lista...
lista1 = [3, 1, 4, 1, 5, 9, 2, 6, 5]
tupla1 = tuple(lista1)
print(tupla1)

(3, 1, 4, 1, 5, 9, 2, 6, 5)

In [23]:
# ...ou uma lista a partir de uma tupla:
tupla2 = [1, 6, 1, 8]
lista2 = list(tupla2)
print(lista2)

[1, 6, 1, 8]

In [24]:
# Também pode-se usar o unpacking com uma tupla:
a, b, c, d, e, f = numeros # "desempacota" a tupla numeros
print("O primeiro vale:", a, "e o ultimo vale:", f)

O primeiro vale: 1 e o ultimo vale: 11

Listas Treino

In [40]:
#declaração de lista
nomes_paises = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']
print(nomes_paises)

['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']

In [41]:
#tamanho de uma lista,empregando a funsão len
print('Tamanho da lista: ', len(nomes_paises))

Tamanho da lista:  5

In [42]:
#indexação base 0 , procurando o Japão
print('Pais: ', nomes_paises[4])

Pais:  Japão

In [43]:
#Ultimo item da lista, index negativo
print('País: ', nomes_paises[-1])

País:  Japão

In [44]:
#Trocando um valor da lista, sustituindo um valor
nomes_paises[4]= 'Colómbia'
print('Pais: ', nomes_paises[4])
print(nomes_paises)

Pais:  Colómbia
['Brasil', 'Argentina', 'China', 'Canadá', 'Colómbia']

In [45]:
#faxamento 
print(nomes_paises[1:3])

['Argentina', 'China']

In [ ]:
#faxamento 
print(nomes_paises[1:3])

In [46]:
#faxamento 
print(nomes_paises[1:-1])

['Argentina', 'China', 'Canadá']

In [47]:
#omitir o index final
print(nomes_paises[2:])

['China', 'Canadá', 'Colómbia']

In [48]:
#omitir o index inicial
print(nomes_paises[:3])

['Brasil', 'Argentina', 'China']

In [49]:
#omitir ambos index 
print(nomes_paises[:])

['Brasil', 'Argentina', 'China', 'Canadá', 'Colómbia']

In [50]:
#pular elemetos stping
print(nomes_paises[::2])

['Brasil', 'China', 'Colómbia']

In [51]:
#invertir os index de uma lista

print(nomes_paises[::-1])

['Colómbia', 'Canadá', 'China', 'Argentina', 'Brasil']

In [52]:
#chequear elementos, operador in do python
print('Brasil' in nomes_paises)

True

In [55]:
#chequear elementos, operador not in do python
print('Canadá' not in nomes_paises)

False

In [56]:
#adicionar elemetos
#creando lista vacia.
lista_capitais = []

In [57]:
#metodo de lista para adicionar en la lista
lista_capitais.append('Brasília')

In [60]:
lista_capitais.append('Brasília')
lista_capitais.append('Buenos Aire')
lista_capitais.append('Pequím')
lista_capitais.append('Bogotá')
print(lista_capitais)

['Brasília', 'Brasília', 'Brasília', 'Buenos Aire', 'Pequím', 'Bogotá']

In [61]:
#inserir em uma possição especifica da lista metodo insert
lista_capitais.insert(2,'París')
print(lista_capitais)

['Brasília', 'Brasília', 'París', 'Brasília', 'Buenos Aire', 'Pequím', 'Bogotá']

In [63]:
#Remover o deleitar, metodo remove
lista_capitais.remove('Brasília')
print(lista_capitais)

['Brasília', 'París', 'Brasília', 'Buenos Aire', 'Pequím', 'Bogotá']

In [64]:
#Remover o deleitar, metodo remove
lista_capitais.remove('Brasília')
print(lista_capitais)

['París', 'Brasília', 'Buenos Aire', 'Pequím', 'Bogotá']

In [65]:
#Remover o deleitar, metodo remove
lista_capitais.remove('Buenos Aire')
print(lista_capitais)

['París', 'Brasília', 'Pequím', 'Bogotá']

In [66]:
#Remover o deleitar por posisão, metodo pop, es importante que ele sempre retorna o item removido
removido = lista_capitais.pop(2)
print(lista_capitais, removido)

['París', 'Brasília', 'Bogotá'] Pequím

Tuplas treino

Pode ser definida como uma sequencia ou coleção de valores ordenados. A index de base 0 também vale para está estructura de dados, a diferencia de as listas é a flexivilidade. Enquanto a uma lista a gente pode inserir dados, remover dados, alterar dados que já estão dentro. Em uma Tupla ne uma de essa operações são permitidas. As Tuplas são inalteravel.
Tem implementações que aslista não poseem e a rigidez em quantoao almacenamento.

In [67]:
#declaração de uma Tupla
nomes_paises1 = ('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')
print(nomes_paises1, type(nomes_paises1))

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>

In [68]:
nomes_paises2 = 'Brasil', 'Argentina', 'China', 'Canadá', 'Japão'
print(nomes_paises2, type(nomes_paises2))

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>

In [69]:
#Não faz sentido declara uma tupla vacia, mais pode declarar com só um elemento

nome_estado = 'São Paulo',
print(nome_estado, type(nome_estado))

('São Paulo',) <class 'tuple'>

In [70]:
#ventagem, colocar todo os elemetos da tupla em uma variable, (unpacking)

b, a, c, ca, j = nomes_paises1

In [71]:
print(b, a, c, ca, j )

Brasil Argentina China Canadá Japão

In [72]:
# unpacking
print(*nomes_paises2)

Brasil Argentina China Canadá Japão

**Strings I**

**Funções de strings**

In [74]:
# Suponhamos que temos a seguinte string:

frase = 'uma FRASE'

In [75]:
# Podemos acessar individualmente cada caractere em uma frase.
# A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

u
m
a

In [76]:
tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

A frase possui 9 caracteres

In [77]:
# Porém, strings são imutáveis: não podemos alterar caracteres individuais
# A linha abaixo, se for descomentada, dará erro no programa:
# frase[4] = 'C'

# Podemos converter strings para listas:
listafrase = list(frase)
print(listafrase)

['u', 'm', 'a', ' ', 'F', 'R', 'A', 'S', 'E']

In [78]:
# A função join() intercala cada elemento de uma lista com uma string.
stringfinal = '-py'.join(listafrase)
print(stringfinal)

u-pym-pya-py -pyF-pyR-pyA-pyS-pyE

In [79]:
# Usar um join() com uma string vazia é útil para transformar a lista de volta
# em string:
stringfinal = ''.join(listafrase)
print(stringfinal)

uma FRASE

In [80]:
# Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1a letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

Uma frase
Uma Frase
UMA FRASE
uma frase
uma CRASE

In [81]:
# Note que NENHUMA delas ALTERA a string original, elas sempre retornam
# a string nova.
print('String original:', frase)

String original: uma FRASE

In [82]:


# Outra possibilidade com strings é quebrar a string em uma lista de substrings
# Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

print(quebra1)
print(quebra2)

['uma', 'FRASE']
['UM', ' FR', 'SE']

In [83]:
# Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)

uma
FRASE

In [84]:
# Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)

uma
	FRASE

In [86]:
# Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'
print(frase)

uma\FRASE

Strings Treino

In [1]:
empresa= "Let's Code"
print(empresa)

Let's Code

In [4]:
frase = "O professor Pietro da Let's Code disse: \"Hoje a pizza é por minha conta\" " 
print(frase)

O professor Pietro da Let's Code disse: "Hoje a pizza é por minha conta"

In [5]:
empresa = 'Google'
print(empresa[0])

G

In [6]:
print(empresa[:3])

Goo

In [11]:
#metodo split para script
nome_cidades= "São Paulo, Belo Horizonte, Rio de Janeiro, Brasília"
nome_cidades = nome_cidades.split(', ')
print(nome_cidades)

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasília']

In [12]:
#metodo sprip para script

cabecalho = "              MENU PRINCIPAL          "
print(cabecalho.strip())

MENU PRINCIPAL

In [13]:
#metodos de variação de caixa 
nome_cidade= 'rIo DE JanEiRo'

print(nome_cidade.title())#Rio De Janeiro - Titulo
print(nome_cidade.capitalize())#Rio de janeiro - Poe só apenas a primeira en caixa alta 
print(nome_cidade.lower())#rio de janeiro - minuscula
print(nome_cidade.upper())#RIO DE JANEIRO - maiusculo

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [17]:
nome_cidade= input('Que Cidade do Brasil é conhecida como cidade maravilhosa? ')
nome_cidade= nome_cidade.strip()
while nome_cidade.lower() != 'rio de janeiro':
    print('Tenta de Novo!, vai...')
    nome_cidade= input('Que Cidade do Brasil é conhecida como cidade maravilhosa? ')
    
print('Boaa, campeão!')

Que Cidade do Brasil é conhecida como cidade maravilhosa? RIO DE JAneiro
Boaa, campeão!

In [19]:
mensagem= ' Você viu o que Pietro disse na sala ontem? '
fui_citado = 'Felipe' in mensagem
print(fui_citado)

False

**Strings II**

**Uso de operadores aritméticos com strings**

In [20]:
# Dois operadores aritméticos possuem um comportamento especial em strings:
# Operador de soma (+): concatena (une) 2 strings.
palavra1 = "Let's"
palavra2 = "Code"
palavra3 = palavra1 + palavra2
print(palavra3)

Let'sCode

In [21]:
# Operador de multiplicação (*): copia uma string 'n' vezes:
palavra = 'uma'
trespalavras = 3*palavra
print(trespalavras)

umaumauma

Formatação de strings
Uma última função interessante de strings é o .format() Para entender como ela funciona, podemos pensar em um contrato. É normal que ele venha com campos em branco para serem preenchidos posteriormente. Ex:

Eu, ______________, portador do RG ________________ e nascido ao dia //, autorizo o uso de minha imagem.

Ao inserirmos no contrato nossas informações pessoais, ele se torna completo.

O .format() serve para "preencher" os "campos em branco" de uma string.

Os campos em branco serão representados por pares de chave: {}

In [29]:
prod = 'chocolate'
preco = 3.14
print('O produto {} custa {}.'.format(prod, preco))

# Na linha acima, prod substituirá o primeiro {}, e preco o segundo {}.
# Saída: O produto chocolate custa 3.14.

O produto chocolate custa 3.14.

In [23]:
# É possível colocar algumas opções especiais de formatação. Por exemplo:

stringoriginal = 'O litro da gasolina custa {:.2f}'
'''
: indica que passaremos opções
.2 indica apenas 2 casas após o ponto decimal
f indica que é um float
'''
preco = 3.14159265
stringcompleta = stringoriginal.format(preco)
print(stringcompleta)
# Saída: O litro da gasolina custa 3.14
# O preço sai com apenas 2 casas após a vírgula!

O litro da gasolina custa 3.14

In [24]:
# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra

c, b and a
abracadabra

In [25]:
# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço

1/8/2019

In [26]:
data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

 1/ 8/2019

In [27]:
# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

01/08/2019

In [28]:
# Um modo mais simples de utilizar o format
nome = "Pietro"
profissao = "professor"
escola = "Let's Code"

print(f"{nome} é {profissao} da {escola}.")
# Saída: Pietro é professor da Let's Code.

Pietro é professor da Let's Code.

O .format() possui muitas opções interessantes. Há um site inteiro dedicado a explicar e exemplificar todas essas opções: https://pyformat.info/

**Treino**

In [33]:
# Algum de os operadores aritmetricos

cumprimento = 'Olá, '
nome = 'Maoly'

print(cumprimento +  nome) #soma

Olá, Maoly

In [34]:
print (nome * 5) #multiplicação

MaolyMaolyMaolyMaolyMaoly

In [35]:
idade = 38
n_filhos = 2

print( nome + ' tem ' + str(idade) + ' anos e ' + str(n_filhos) +' filhos.')

Maoly tem 38 anos e 2 filhos.

In [37]:
#metodo format

print('{} tem {} ano e {} filhos.'.format(nome, idade, n_filhos))

Maoly tem 38 ano e 2 filhos.

In [38]:
preco_gasolina= 3.4596
print('O preço da gasolina hoje subiu e está em R$ {:.2f}'.format(preco_gasolina))

O preço da gasolina hoje subiu e está em R$ 3.46

In [39]:
print(f'{nome} tem {idade} anos e {n_filhos} filhos.' )

Maoly tem 38 anos e 2 filhos.

**Dicionários**

Dicionários
Um dicionário é uma coleção, assim como as listas e as tuplas. Porém, enquanto as tuplas eram indexadas por um índice, os dicionários são indexados por chaves. Todo elemento em um dicionário possui uma chave e um valor. Chaves tipicamente são strings, valores podem ser qualquer tipo de dado.

In [40]:
# O dicionário é definido pelos símbolos { e }

dicionario = {}

# O dicionário não possui um "append".
# Adicionamos valores diretamente:

dicionario['cat'] = 'gato'
dicionario['dog'] = 'cachorro'
dicionario['mouse'] = 'rato'

print(dicionario)
print(type(dicionario))

'''
Saída:
{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>
'''

# Dicionários, assim como as listas, são mutáveis:
dicionario['dog'] = 'cão'
print(dicionario)
# Saída: {'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}

# Podemos criar o dicionário diretamente também:
dicionario2 = {'Curso': 'Python Pro', 'Linguagem':'Python', 'Módulo':2}
print(dicionario2)
# Saída: {'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}

# Podemos utilizar o operador "in" para verificar se uma chave existe:
if 'cat' in dicionario:
    print('cat existe!') # Sim
if 'bird' in dicionario:
    print('bird existe!') # Não
if 'gato' in dicionario:
    print('gato existe!') # Não

'''
Também podemos utilizar as funções .keys() e .values() para obter listas
com apenas as chaves ou apenas os valores do dicionário.
'''
chaves = dicionario.keys()
print(chaves)
# Saída: dict_keys(['cat', 'dog', 'mouse'])

valores = dicionario.values()
print(valores)
# Saída:dict_values(['gato', 'cão', 'rato'])

# Já a função .items(), retorna uma lista de tuplas (chave, valor) de um dicionário

itens = dicionario.items()
print(itens)
# Saída:dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

{'cat': 'gato', 'dog': 'cachorro', 'mouse': 'rato'}
<class 'dict'>
{'cat': 'gato', 'dog': 'cão', 'mouse': 'rato'}
{'Curso': 'Python Pro', 'Linguagem': 'Python', 'Módulo': 2}
cat existe!
dict_keys(['cat', 'dog', 'mouse'])
dict_values(['gato', 'cão', 'rato'])
dict_items([('cat', 'gato'), ('dog', 'cão'), ('mouse', 'rato')])

**Treino**

In [4]:
dados_cidade = {
    'nome':'São Paulo',
    'Estado': 'São Paulo',
    'area_km2': 1521,
    'populacao_milhoes': 12.18
}
print(type(dados_cidade))

<class 'dict'>

In [5]:
print(dados_cidade)

{'nome': 'São Paulo', 'Estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18}

In [6]:
#accesar o atribuir valor

dados_cidade['pais']='Brasil'

In [7]:
print(dados_cidade)

{'nome': 'São Paulo', 'Estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [9]:
#accesar

print(dados_cidade['nome'])

São Paulo

In [10]:
#alterar

dados_cidade['area_km2']= 1500
print(dados_cidade)

{'nome': 'São Paulo', 'Estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [11]:
#metodo copi

dados_cidade_2 = dados_cidade

In [15]:
dados_cidade_2 ['nome']= 'Santos'

In [16]:
print(dados_cidade_2)

{'nome': 'Santos', 'Estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [21]:
print(dados_cidade)

{'nome': 'Santos', 'Estado': 'Río de Janeíro', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [18]:
#aplicando o metodo copy
dados_cidade_3 = dados_cidade.copy()

In [20]:
dados_cidade_3 ['Estado']= 'Amazonas'

In [22]:
print(dados_cidade_3)

{'nome': 'Santos', 'Estado': 'Amazonas', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [23]:
print(dados_cidade_2)

{'nome': 'Santos', 'Estado': 'Río de Janeíro', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [24]:
print(dados_cidade)

{'nome': 'Santos', 'Estado': 'Río de Janeíro', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [25]:
#update

novos_dados={
    'populacao_milhoes': 15,
    'fundacao': '25/01/1554'
}

dados_cidade.update(novos_dados)
print(dados_cidade)

{'nome': 'Santos', 'Estado': 'Río de Janeíro', 'area_km2': 1500, 'populacao_milhoes': 15, 'pais': 'Brasil', 'fundacao': '25/01/1554'}

In [26]:
#Get

print(dados_cidade.get('prefeito'))

None

In [27]:
#Metodos que transforman dicionarios em lista

#retorna uma lista de chaves de um dicionario
print(dados_cidade.keys())
print('--------------')
#retorna uma lista de valores de um dicionario
print(dados_cidade.values())
print('--------------')
#retorna uma lista de tuplas (chave, valor) de um dicionario
print(dados_cidade.items())

dict_keys(['nome', 'Estado', 'area_km2', 'populacao_milhoes', 'pais', 'fundacao'])
--------------
dict_values(['Santos', 'Río de Janeíro', 1500, 15, 'Brasil', '25/01/1554'])
--------------
dict_items([('nome', 'Santos'), ('Estado', 'Río de Janeíro'), ('area_km2', 1500), ('populacao_milhoes', 15), ('pais', 'Brasil'), ('fundacao', '25/01/1554')])

**Estruturas de Repetição - For**

**Percorrendo coleções**

O for é um tipo especial de loop feito para percorrer elementos de uma coleção. Acima vimos exemplos usando um while e um contador para percorrer uma lista. O for elimina a necessidade de inicializarmos um contador, incrementarmos e verificar a condição de parada. Sintaxe:

for (variável temporária) in (lista):

    # instruções...
    
    # ...

O for se repete uma vez para cada elemento da lista. A cada repetição, a variável temporária assume o valor de um elemento da lista, na ordem da lista.

In [29]:
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

**Percorrendo sequências numéricas**

O for pode ser usado, junto com a função range(), para gerar sequências numéricas e contagens. Existem 3 meios de usar o range(): especificando 1, 2 ou 3 parâmetros.

In [30]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10
1
3
5
7
9
11
13
15
17
19
10
9
8
7
6
5
4
3
2
1

**Treino**

In [32]:
#For Loop, estrutura de repeticion especializado em iterar sobre objetos "Navegar" sobre un objete pasible de navegação
#Puede ser usados para un numero de tarefas predefinidos,precisar navera por cada uno de los elementos

nomes_cidades = [ 'São Paulo', 'Londres', 'Tóquio', 'París']

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
París

In [36]:
#comparação com while
contador = 0

nomes_cidades = [ 'São Paulo', 'Londres', 'Tóquio', 'París', 'Roma']
while contador < len(nomes_cidades):
    print(nomes_cidades [contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
París
Roma

In [37]:
nomes_cidades =  'São Paulo', 'Londres', 'Tóquio', 'París'

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
París

In [38]:
cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes':  12.2
}

for chave in cidade:
    print(f'{chave}:{cidade[chave]}')

nome:São Paulo
estado:São Paulo
populacao_milhoes:12.2

In [55]:
nomes_cidades =  'São Paulo', 'Londres', 'Tóquio', 'París'

for nome in nomes_cidades:
    nome = 'Río Janeiro'
    print(nomes_cidades)

('São Paulo', 'Londres', 'Tóquio', 'París')
('São Paulo', 'Londres', 'Tóquio', 'París')
('São Paulo', 'Londres', 'Tóquio', 'París')
('São Paulo', 'Londres', 'Tóquio', 'París')

In [60]:
#alterar elementos em a lista range

nomes_cidades =  ['São Paulo', 'Londres', 'Tóquio', 'París']

for nome in nomes_cidades:
    nome = 'Río Janeiro'
    print(nomes_cidades)
    
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Bahia'
print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'París']
['São Paulo', 'Londres', 'Tóquio', 'París']
['São Paulo', 'Londres', 'Tóquio', 'París']
['São Paulo', 'Londres', 'Tóquio', 'París']
['Bahia', 'Bahia', 'Bahia', 'Bahia']

In [61]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

**Funções I**

**Funções**

Funções são uma espécie de "subprograma". Elas são como pequenos pedacinhos de programa que podem ser chamadas pelo nome. Para criar uma função usamos o comando "def" e o nome da função. Elas são um bloco de comando assim como if/elif/else, while e for.

In [63]:
def hello():
    print("Olá, mundo!")

Quando uma função é chamada pelo nome, o fluxo do programa é interrompido. Em seguida, a função inteira é executada, e ao final dela, o programa volta a ser executado do mesmo ponto que parou.

In [64]:
hello()

# Saída: Olá, mundo!

Olá, mundo!

É possível passarmos informações para uma função. Chamamos essas informações de "parâmetros" ou "argumentos. Na definição da função, daremos nome a esses parâmetros. Dentro da função, eles serão tratados como se fossem variáveis.

In [65]:
def ola(nome):
    print("Olá", nome)

Ao chamarmos a nossa funcao, passamos os parâmetros entre parênteses. O nome ou valor passado não precisam ser iguais aos declarados na função! O nome do parâmetro interno da função é um "apelido" que a função dará para o valor ou variável que passamos

In [66]:
ola("Maria")
# Saída: Olá, Maria

aluno = "João"
ola(aluno)
# Saída: Olá, João

Olá Maria
Olá João

A função pode receber vários parâmetros separados por vírgula.

In [67]:
def dadosPessoais(nome, idade, cidade):
    print("Seu nome é {}, você tem {} anos e mora em {}.".format(nome, idade, cidade))

dadosPessoais("José", 30, "Maceió")
# Saída: Seu nome é José, você tem 30 anos e mora em Maceió.

Seu nome é José, você tem 30 anos e mora em Maceió.

Os parâmetros podem ser passados fora de ordem. Porém, para isso precisamos explicitar qual parâmetro estamos passando, para evitar ambiguidade ou erros de interpretação do Python.

In [68]:
dadosPessoais(idade=56, cidade="Florianópolis", nome="Ana")
# Saída: Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

Seu nome é Ana, você tem 56 anos e mora em Florianópolis.

**Funções com resposta**

Uma função pode ter uma "resposta". Por exemplo, nossa função pode ser uma conta, e o resultado da conta pode ser útil em nosso programa. Dizemos que essas funções "retornam" um valor. Utilizamos a palavra "return" para fazer uma função retornar sua resposta. Quando uma função retorna um valor, ela pode ser usada em expressões matemáticas ou lógicas, ter seu valor atribuído a uma variável, etc.

In [69]:
def somatorio(lista):
    soma = 0
    for item in lista:
        soma = soma + item
    return soma

numeros = [1, 2, 3, 4, 5]
soma_dos_numeros = somatorio(numeros)
print("A soma dos elementos da lista vale: ", soma_dos_numeros)

if somatorio(numeros) > 50:
    print("Que soma grande!")
else:
    print("Que soma pequena!")
    
'''
Saída:
A soma dos elementos da lista vale:  15
Que soma pequena!
'''

A soma dos elementos da lista vale:  15
Que soma pequena!

'\nSaída:\nA soma dos elementos da lista vale:  15\nQue soma pequena!\n'

**Funções recursivas**

Algumas funções são chamadas funções recursivas. A recursividade (ou recursão) é uma propriedade na qual uma função faz referência a si mesma. Quando a função encontra uma nova referência, ela irá pausar sua execução atual e iniciar a execução da nova instância, para só então retomar sua execução.

Assim como nos loops, é necessário ter alguma condição para que as chamadas recursivas sejam interrompidas, evitando que executem para sempre.

In [70]:
def funcaoRecursiva(numero):
    if (numero != 1):
        funcaoRecursiva(numero - 1)
    print(numero)

print("Testando a função recursiva:")
funcaoRecursiva(10)

Testando a função recursiva:
1
2
3
4
5
6
7
8
9
10

Note que no exemplo acima passamos 10 para a função. Sua execução foi interrompida por uma nova chamada passando 9, depois 8, depois 7... Ao chegar em 1, ele foge da condicional e imprime 1, encerrando a execução. Então a instância que recebeu 2 tambem conclui sua execução, depois a chamada 3, a 4... A 10, que foi a 1a chamada, encerra por último.

Dizemos que é um comportamento de pilha - exatamente como uma pilha de pratos sobre a mesa: O primeiro prato que foi colocado sobre a mesa será o último a sair, pois todos os pratos colocados sobre ele precisam ser retirados antes de você poder retirar o último.

Problemas recursivos normalmente são problemas do tipo "dividir para conquistar": Temos um "caso base", ou seja, um ou mais casos onde há uma resposta direta; E temos um "caso geral", que é uma versão reduzida do problema original.

**Treino**

In [71]:
def hello():
    print('Olá, mundo!!!')

In [72]:
hello()

Olá, mundo!!!

In [74]:
def calcula_media(valor1, valor2, valor3):
    soma = valor1 + valor2 + valor3
    media= soma / 3
    return media

In [75]:
resultado = calcula_media(50, 10, 40)
print(resultado)

33.333333333333336

In [76]:
resultado1 = calcula_media(valor1=50, valor2=10, valor3=40)
print(resultado1)

33.333333333333336

In [79]:
# parametro end

print('Olá', end ='')
print(', Pietro')

Olá, Pietro

In [80]:
def calcula_media(valor1 = 0 , valor2 = 0, valor3 = 0):
    soma = valor1 + valor2 + valor3
    media= soma / 3
    return media

In [81]:
resultado = calcula_media
print(resultado)

<function calcula_media at 0x0000021AD9AB0940>

**Funções II**

**Agrupando parâmetros**

Podemos utilizar o operador * - que, neste caso, não será uma multiplicação. Ao colocarmos o * ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla. Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser, e o Python automaticamente criará uma tupla com eles:

In [83]:
def piscina(*infos):
    vol = infos[0]*infos[1]*infos[2]
    return vol

volume = piscina(5, 4, 5)

print('O volume é: ', volume)

O volume é:  100

Podemos utilizar o operador * na chamada da função também. Na definição, o operador * indica que devemos agrupar itens avulsos em uma coleção. Na chamada, ele indica que uma coleção deve ser expandida em itens avulsos:

In [84]:
def piscina(prof, largura, comprimento):
    vol = prof*largura*comprimento
    return vol

lista = [5, 4, 5]

volume = piscina(*lista)

print('O volume é: ', volume)

O volume é:  100

**Parâmetros opcionais**

Outra possibilidade são funções com parâmetros opcionais. Note que isso é diferente de termos quantidade variável de parâmetros. No caso da quantidade variável, normalmente são diversos parâmetros com a mesma utilidade (números a serem somados, valores a serem exibidos etc), enquanto os parâmetros opcionais são informações distintas que podem ou não ser passadas para a função.

Para criar parâmetros opcionais, usaremos **, e os parâmetros passados serão agrupados em um dicionário: o nome do parâmetro será uma chave, e o valor será... O valor.

In [86]:
def piscina(prof, **infos):
    vol = prof*infos['largura']*infos['comprimento']
    return vol

volume = piscina(5, largura=4, comprimento=5)

print('O volume é: ', volume)

O volume é:  100

Analogamente ao caso dos parâmetros múltiplos, é possível que o usuário da função já tenha os dados organizados em um dicionário. Neste caso, basta usar ** na chamada da função para expandir o dicionário em vários parâmetros opcionais:

In [89]:
def piscina(prof, largura=4, comprimento=5):
    vol = prof*largura*comprimento
    return vol

infos = {'largura': 10, 'comprimento': 20}

volume = piscina(5, **infos)

print('O volume é: ', volume)

O volume é:  1000

***Treino***

In [90]:
def calcula_media(*args):
    print(args, type(args))

In [91]:
calcula_media(10, 8, 9)

(10, 8, 9) <class 'tuple'>

In [93]:
def calcula_media(*args):
    soma= sum(args)
    media = soma / len(args)
    return media
    print(args, type(args))

In [94]:
calcula_media(10, 8, 9)

9.0

In [95]:
def calcula_media(*args, margem):
    soma= sum(args)
    media = soma / len(args)
    return media + margem
    print(args, type(args))
    
    
calcula_media(10, 8, 9, margem= 0.9)

9.9

In [96]:
def print_info(**kwargs):
    print(kwargs, type(kwargs))

In [98]:
print_info(nome= ' Maoly', sobrenome= 'Lara Serrano')

{'nome': ' Maoly', 'sobrenome': 'Lara Serrano'} <class 'dict'>